---
title: Home
---
<section class="home-text-block">
  <p class="top-headline">
    I&#1370;m an interaction designer, design director &amp; &ldquo;product person&rdquo; living in San Francisco. Most recently I've lead design  &amp; product efforts at <a href="">T-Mobile</a>, <a href="">Mozilla</a> &amp; <a href="">Simppler</a>.
  </p>
  <p class="bottom-text">
  I&#1370;m a toolmaker enabling, not replacing, people with technology. I think <a href="https://words.tonysantos.design/code-like-a-designer-48c7bf8c1428">designers should code like designers</a>, that <a href="https://words.tonysantos.design/you-re-a-better-designer-than-you-think-316068957f04"> designer is more than a title</a> &amp; that good products &amp; services are designed by curious teams, not lone geniuses.  </p>
  <p>
    You can get in touch on <a href="https://www.twitter.com/tsmuse">Twitter</a>, <a href="https://www.linkedin.com/in/notjustprettypictures">LinkedIn</a>, <a href="https://github.com/tsmuse">Github</a>, or <a href="#">good old-fashioned email.</a>
  </p>
</section>
