<html>
	<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Not Just Pretty Pictures - Your design should be more than just colors and fonts</title>
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta name="description" content="Not Just Pretty Pictures - Your Design should be more than just colors and fonts
">
    <script src="https://use.typekit.net/lvb0txr.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel="stylesheet" href="css/njpp.css"/>
  </head>
  <body>
    <nav>
      <div class="my-name">
        <span>Tony Santos</span>
      </div>
      <div class="menu-items">
        <!-- a UL will go here with stuff in it. Once there is stuff to put in it -->
        <ul>
          <li>work</li>
          <li>writting</li>
          <li>resume</li>
        </ul>
      </div>
    </nav>
    <section class="home-text-block">
      <p class="top-headline">
        I&#1370;m an interaction designer, design director &amp; &ldquo;product person&rdquo; living in San Francisco. Most recently I've lead design  &amp; product efforts at <a href="">T-Mobile</a>, <a href="">Mozilla</a> &amp; <a href="">Simppler</a>.
      </p>
      <p class="bottom-text">
      I&#1370;m a toolmaker enabling, not replacing, people with technology. I think <a href="https://words.tonysantos.design/code-like-a-designer-48c7bf8c1428">designers should code like designers</a>, that <a href="https://words.tonysantos.design/you-re-a-better-designer-than-you-think-316068957f04"> designer is more than a title</a> &amp; that good products &amp; services are designed by curious teams, not lone geniuses.  </p>
      <p>
        You can get in touch on <a href="https://www.twitter.com/tsmuse">Twitter</a>, <a href="https://www.linkedin.com/in/notjustprettypictures">LinkedIn</a>, <a href="https://github.com/tsmuse">Github</a>, or <a href="#">good old-fashioned email.</a>
      </p>
    </section>
    <script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
  </body>
</html>
