---
title: Mozilla
toc:
  overview: "Overview"
  team: "Leading the team"
  mdn: "Project – MDN redesign"
  owa: "Project - Open Web Apps UX"
  images: "More pictures"
img-grid:
  - assets/img/portfolio/moz/moz_07.png
  - assets/img/portfolio/moz/moz_08.png
  - assets/img/portfolio/moz/moz_09.png
  - assets/img/portfolio/moz/moz_10.png
  - assets/img/portfolio/moz/moz_12.png
  - assets/img/portfolio/moz/moz_13.png
  - assets/img/portfolio/moz/moz_14.png
  - assets/img/portfolio/moz/moz_15.png
  - assets/img/portfolio/moz/moz_16.png

gallery-copy: |
  Wanna see more pictures? Everyone always does. Here are a few more images from the many projects the Open Web Apps UX team did under my design direction:
---
<h1> {{title}}</h1>
<section class="case-study">
  <p id="overview">
    I joined the team at Mozilla for a number of reasons but two really stick out. First and foremost I was excited to try and change the defintion of what an "app" was and the work I did on Mozilla's Open Web Apps initive certainly helped influence the industy thinking about the place of web applications in a growingly mobile-centric world. I was also very excited to join a growing UX organization as a leader to try and help embed user-centered thinking into everything the company did. Little did I know that I would also get to manage a team through some of the most difficult situations I've ever faced in my professional life: three CEO changes and two company-wide reorganizations in two and a half years.
  </p>
  <div class="image-block">
    <img src="assets/img/portfolio/moz/moz_team.jpg" alt="something descriptive"/>
    <figcaption> Was leading this team a circus? I can say this much: we had a circus themed presentation for one of our quarterly all-hands updates. </figcaption>
  </div>
  <h2 id="team">{{toc.team}}</h2>
  <p>
    I was extremely fortunate when I started at Mozilla, the overall UX organization had solid leadership into the executive ranks and I joined a group of UX leaders who were thoughtful, experienced, and shared my desire to make real institutional change. My team, what would become the Open Web Apps UX group, benefitted from that strong group of leaders in the company and made my job a lot easier&hellip; at least until the reorgs started. When the company rearranged itself to put everyone into a product vertical, instead of the functional groups we were in when I started, my team was suddenly isolated from the other six UX groups that had once all been "our team." There was a lot of worry to manage and reassurance was constantly part of my job. Despite these fairly large challenges, I managed to form better working relationships with our engineering and program management teams in our product group and reversed the steotype of "UX as a bottleneck" which let us take the lead on a lot of projects, not a normal way of doing things at Mozilla.
  </p>
  <p>
    Projects we lead were often the ones that <a href="https://techcrunch.com/2013/09/02/apple-microsoft-and-google-could-learn-something-from-mozillas-app-store-prototype/">garnered</a> <a href="https://bgr.com/2013/08/30/firefox-os-marketplace-ios-android/">the</a> <a href="https://www.engadget.com/2013/08/29/mozilla-marketplace-prototype/">most</a> <a href="https://thenextweb.com/apps/2013/08/29/mozilla-has-designed-a-cool-new-firefox-marketplace-prototype-that-socializes-the-app-store-experience/#.tnw_6xPkRKrx">press</a>, and excited the most people. Advocacy and changing industry opinions were our main objectives as a company, and my team constantly achived those goals despite the very serious headwinds that were the FirefoxOS project and organizational upheaval. Our lead in succesful projects and the stable foundation of how the team operated went a long way in releiving my designers' anxieties.
  </p>
  <h2 id="mdn">{{toc.mdn}}</h2>
  <p>
    The Mozilla Developer Network(MDN) is a community contributed, Mozilla edited and maintained resource for web developers. “Encyclopedic” is often an adjective used to describe the site and the traffic it sees is huge. Try searching for something that has to do with Javascript and it’s usually the first result. At it’s core its, and quite literally the technology is, a wiki. It’s a website that sees hundreds of changes a week to both content on individual pages and the number of groupings of pages themselves. Our challenge was to bring some order to this massive changing site that made it easier to read and find the information contained in MDN, made it easier to contribute content to MDN, and made it easier for Mozilla to expand MDN to include the new products it was launching
  </p>
  <div class="image-block">
  	<img src="assets/img/portfolio/moz/moz_01.png" alt="System model vs mental model diagram" />
  	<figcaption>Sketch of our goal from the project kick-off presentation. There was a lot of concern about our simplification limiting our ability to grow. We continued illustrating the difference between the tech and the user-facing mental model throughout the project.</figcaption>
  </div>
  <p>
    A well thought out information architecture was the goal, and what I focused on in the project, but designing an IA for a site that could have six new sections next week and then ten fewer the week after that was a new challenge. Instead of building a rigid map of what we thought the site should be, we worked with a group of contributors and the editors of the site to create a framework everyone believed in and that met all our goal. To get to the final solution, we ran a series of interviews with the internal stakeholders, another with a group of highly active MDN contributors and then ran a fairly large open card sort with 100 MDN users.
  </p>
  <div class="image-block">
  	<img src="assets/img/portfolio/moz/moz_02.jpg" alt="giant card sort similarity matrix" />
  	<figcaption>With so many cards in the sort, the similarity matrix was too huge to easily work with on a single screen. I printed it out and took over a whiteboard for an afternoon to do my analysis.</figcaption>
  </div>
  <p>
    When we started the project we pulled a snapshot of every page on MDN, and found out the site had roughly 39,800 pages and over 500 categories at that time. This obviously made creating a deck of cards to be sorted a little daunting, we needed to consolidate themes. We worked through this with our stakeholders and contributors in our interviews and ended up with a still rather hefty but much more manageable 93 cards. I should note here that having a very enthusiastic and engaged user-base is the only thing that makes a card sort with this many cards possible. We ended up with an 11% abandonment rate, and hit 100 responses in less than 36 hours.
  </p>
  <div class="image-block">
  	<img src="assets/img/portfolio/moz/moz_03.png" alt="high level IA diagram" />
  	<figcaption>A diagram of the high-level IA for the new site using our "zones" concept. Each zone was treated like a seperate site with mostly independant IA that rolled back up into MDN.</figcaption>
  </div>
  <p>
    From this point we took our list of categories the participants created and used some affinity diagraming to come up with a basic set of categories for the site, aided by the giant similarity matrix. While there weren’t very many surprises in the similarity matrix, some of the phasing used in the categories was different that what we had initially come up with and we let the tone and phrasing of our users influence our final wording. Under these new groupings we reused most of the existing IA inside of individual topics. In “Zones” each product group chose created a new IA for their new section on MDN.
  </p>
  <div class="image-block">
  	<img src="assets/img/portfolio/moz/moz_04.png" alt="Screen capture of new page template design" />
  	<figcaption>The new article page template. We designed it to focus on readability no matter what sized viewport it was being displayed in. This meant focusing on clean typography and elements that could reorganize themselves.</figcaption>
  </div>
  <p>
    While I was focusing on the IA of the redesigned site, the other half of the team was working on a new layout and identity for MDN. We had seen in research that developers were using tablets as a dedicated documenation screen in their work, and our new layouts made the experience of reading an MDN article on a tablet just as easy as on a 27" monitor. My role in these pieces of the project was largely to provide design direction to make sure that we were applying these new styles consistantly and in service of the new IA  and the findings our research had uncovered. The end result is a website that is still one of the authorities on web development knowledge but that has been able to grow as Mozilla has grown. We saw a huge surge in usage after the new design was rolled out, especially on mobile devices.
  </p>
  <div class="image-block">
  	<img src="assets/img/portfolio/moz/moz_05.png" alt="User picker wireframe" />
  	<figcaption>The new MDN homepage design has been copied by a handful of other developer sites since we launched it. I don't know if there is higher praise than that.</figcaption>
  </div>
  <p>
    You can visit the live site at <a href="https://developer.mozilla.org">developer.mozilla.org</a>
  </p>
  <h2 id="owa">{{toc.owa}}</h2>
  <p>
    When people would ask me what I was working on while I was at Mozilla my answer would often be, "The design team is my biggest design project." My role at Mozilla required me to be a design director, project manager, product manager, and researcher. The role I played most consistantly on any given project was "whatever was missing." I touched every piece of work that came out of my team, and I am exceptionally proud of the many things we accomplished. Here are a few better write-ups or live versions of some of our work:
  </p>
  <ul>
    <li>
      <a href="http://marketplaceux.github.io/marketplace-style-guides/">Rebranding and Pattern Library for Firefox Marketplace</a>
    </li>
    <li>
      <a href="http://marketplaceux.github.io/devhub-redesign/">Redesigning how Developers publish apps</a>
    </li>
    <li>
      <a href="#mdn">Redesigning the Mozilla Developer Network site (above)</a>
    </li>
    <li>
      <a href="https://hacks.mozilla.org/2014/08/time-to-get-hacking-introducing-rec-room/">RecRoom – an opinionated Open Web App framework</a>
    </li>
    <li>
      <a href="https://apps.webmaker.org/designer">App Maker</a>
    </li>
  </ul>
  <div class="image-block">
  	<img src="assets/img/portfolio/moz/moz_06.jpg" alt="project collage" />
  	<figcaption>This was one of the most productive teams I've ever lead. We completed a tremendous number of projects, 35, in a little over two years.</figcaption>
  </div>
  <p>
    In addition to putting on whatever hat needed to be worn to get a project completed successfully, I treated the processes the team followed like a design project. I found a lot of success in small process changes to the team:
  </p>
  <p>
    I instituted and ran a weekly critique session. While this was initially seen as very "strange" to have a closed designers-only meeting, it dramatically improved the confidence and performance of my team. <a href="https://medium.com/words-i-ve-said/critique-vs-feedback-knowing-the-difference-might-just-save-your-life-a6d2a3d9ce0d#.7plukbm58">I've written more in depth about the process here.</a>
  </p>
  <p>
    I designed and built a series of Jekyll templates that allowed the designers to easily publish their design work to github, where all of our developers and community contributors spent a lot of their time. This allowed us to get more eyes on our work, get more community involvement, and get more conversations going with members of the engineering teams. <a href="https://github.com/tsmuse/Firefox-Marketplace-UXSpecs-Templates">You can check out the templates and use or adapt them for your own work over on Github</a>
  </p>
  <p>
    I brought UserTesting.com into Mozilla and designed a series of test templates to let any designer (or anyone else) on any team in the company quickly create and run methodologically sound usability studieds, even if they had no experience. The adoption was amazing and we started producing better, more defendable designs shortly after implimenting it. <a href="https://medium.com/words-i-ve-said/real-designers-test-e8fe0a436935#.h6of5unn3"> I’ve written in more depth about the process here.</a>
  </p>
</section>
{{> image-gallery}}
