<footer class="contact-footer">
  <div class="footer-wrapper">
    <h2> Wanna see more?</h2>
    <p class="first-p"> Got a project? Need a design leader? A design technologist? Someone to fill a role with a crazy new title that will soon be all the rage? Just convinced we need to work together? Drop me a line: <a href="mailto:tony@notjustprettypictures.com">tony <span class="email-punctuation">[at]</span> notjustprettypictures <span class="email-punctuation">[dot]</span> com</a></p>
    <p>
      Or check out one of my other case studies: <a href="t-mo.html">T-mobile USA</a>&ensp;<a href="mozilla.html">Mozilla</a>&ensp;<a href="simppler.html">Simppler</a>
    </p>
  </div>
</footer>
