---
component: navbar
---
<nav>
  <div class="my-name">
    <span>Tony Santos</span>
  </div>
  <div class="menu-items">
    <!-- a UL will go here with stuff in it. Once there is stuff to put in it -->
    <ul>
      <li>work</li>
      <li>writting</li>
      <li>resume</li>
    </ul>
  </div>
</nav>
