---
component: navbar
---
<header>
<nav class="top-nav">
  <div class="my-name">
    <span>Tony Santos</span>
  </div>
  <div class="menu-items">
    <ul>
      <li>work</li>
      <li>writting</li>
      <li>resume</li>
    </ul>
  </div>
</nav>
<!-- IFF not on the homepage show the subnav -->
{{#isnt basename "index"}}
<nav class="toc-menu">
  <p class="title">{{ page.title }}:</p>
  <ul class="sub-menu">
      {{#each page.toc}}
      <!-- this pattern is assuming the image grid will always be the last section
           if the design changes this will need to be updated
      -->
        <li><a href="#{{@key}}">{{this}}{{#isnt @key "images"}},{{/isnt}}</a></li>
      {{/each}}
  </ul>
</nav>
{{/isnt}}
</header>
