@import url(normalize.css);
* {
  box-sizing: border-box;
}

ul, h1, h2, h3 {
  margin: 0;
}

a {
  transition: color 0.25s ease-in-out;
}

body {
  font-family: "calluna-sans", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  background-color: #f6fbf6;
  color: #1e2642;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}
.top-nav .my-name {
  color: #499E8D;
  flex: 1;
  padding: 0.75rem 0 0.75rem 0.75rem;
  font-size: 1.1rem;
  line-height: 1.75rem;
}
@media (min-width: 768px) {
  .top-nav .my-name {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0.75rem 1.5rem;
  }
}
.top-nav .menu-items {
  flex: 1;
  padding: 0.75rem 0;
}
@media (min-width: 768px) {
  .top-nav .menu-items {
    flex: 2;
    padding: 0.75rem 1.5rem;
  }
}
.top-nav .menu-items ul {
  list-style: none;
  margin: 0;
  padding: 0 0.6rem 0 0;
  text-align: right;
  min-width: 10rem;
}
.top-nav .menu-items ul li {
  color: #85CC9F;
  display: inline-block;
  padding: 0 0.25rem;
  font-size: 0.85rem;
  line-height: 1.75rem;
}
@media (min-width: 768px) {
  .top-nav .menu-items ul li {
    font-size: 1rem;
    line-height: 2rem;
  }
}

.toc-menu {
  background-color: #fff;
  border-top: 1px solid #bbe3c9;
  padding: 0.5rem 0;
  display: flex;
  align-items: baseline;
}
.toc-menu .title {
  flex: 1;
  max-width: 11.625rem;
  min-width: 11.625rem;
  padding: 0.75rem 0 0.75rem 0.75rem;
  color: #499E8D;
  font-size: 1.55rem;
  line-height: 2rem;
  font-family: "calluna", serif;
  font-weight: 400;
  margin: 0;
}
@media (min-width: 768px) {
  .toc-menu .title {
    padding: 0.75rem 1.5rem;
    padding-right: 0;
  }
}
@media (min-width: 1024px) {
  .toc-menu .title {
    flex: 1;
  }
}
.toc-menu .sub-menu {
  flex: 1;
  list-style: none;
  padding: 0.75rem 1.5rem;
  padding-left: 0;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
@media (min-width: 768px) {
  .toc-menu .sub-menu {
    flex: 3;
  }
}
@media (min-width: 1024px) {
  .toc-menu .sub-menu {
    white-space: normal;
    overflow: visible;
  }
}
.toc-menu .sub-menu li {
  display: inline-block;
}
.toc-menu .sub-menu li a {
  font-family: "calluna", serif;
  text-decoration: none;
  color: #85CC9F;
  font-size: 1.1rem;
  line-height: 2rem;
  padding: 0 0.125rem;
}
.toc-menu .sub-menu li a:hover {
  color: #485da1;
}

.wrapper-index {
  padding: 5rem 0 1.25rem;
  width: 100%;
}
@media (min-width: 768px) {
  .wrapper-index {
    padding: 7.5rem 2.5rem 2.5rem;
  }
}
@media (min-width: 1024px) {
  .wrapper-index {
    padding: 8.5rem 8.5rem 6rem;
  }
}

.home-text-block p {
  font-family: "calluna", serif;
  font-size: 5.9vw;
  line-height: 7.8vw;
  width: 86vw;
  max-width: 1100px;
  margin: 0 auto 0.75rem;
  padding: 0;
}
@media (min-width: 768px) {
  .home-text-block p {
    font-size: 3.9vw;
    line-height: 5.4vw;
    width: 78vw;
  }
}
@media (min-width: 1235px) {
  .home-text-block p {
    font-size: 3rem;
    line-height: 3.75rem;
    max-width: 1000px;
  }
}
.home-text-block p a {
  color: #499E8D;
  text-decoration: none;
  transition: background ease-in-out 0.18s;
  transition: color ease-in-out 0.18s;
}
.home-text-block p a:hover {
  color: #485da1;
}
.home-text-block .top-headline a {
  display: inline-block;
}

.small-only {
  display: inline;
}
@media (min-width: 376px) {
  .small-only {
    display: none;
  }
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  padding: 10.5rem 1rem 3.25rem;
}
@media (min-width: 768px) {
  .wrapper {
    padding: 12rem 2.5rem 6.25rem;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    padding: 13rem 5rem 6.25rem;
  }
}
.wrapper h1 {
  font-family: "calluna-sans", sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 400;
  margin: 0 auto 2rem;
  text-align: center;
}
@media (min-width: 768px) {
  .wrapper h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin: 0 auto 3rem;
  }
}
@media (min-width: 1024px) {
  .wrapper h1 {
    margin: 0 auto 4.5rem;
  }
}
.wrapper h2 {
  font-family: "calluna-sans", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 300;
  margin: 0 auto 2rem;
  padding-top: 0.5rem;
  text-align: center;
}
@media (min-width: 768px) {
  .wrapper h2 {
    margin: 0 auto 2.5rem;
    padding-top: 1rem;
  }
}
.wrapper p {
  font-family: "calluna", serif;
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin: 0 auto 2.5rem;
  max-width: 19.45rem;
}
@media (min-width: 768px) {
  .wrapper p {
    font-size: 1.25rem;
    line-height: 2rem;
    margin: 0 auto 2.5rem;
    max-width: 38.45rem;
  }
}
@media (min-width: 1024px) {
  .wrapper p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 0 auto 2.5rem;
    max-width: 38.75rem;
  }
}

.image-block {
  max-width: 860px;
  width: 100%;
  margin: 0 auto 3rem;
}
@media (min-width: 1024px) {
  .image-block {
    margin: 0 auto 3.5rem;
  }
}
.image-block img {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
}
.image-block figcaption {
  font-size: 0.95rem;
  color: #85CC9F;
}

.contact-footer {
  background-color: #499E8D;
  padding: 1.5rem 2rem 3.75rem;
}
@media (min-width: 768px) {
  .contact-footer {
    padding: 1.5rem 2.5rem 3.75rem;
  }
}
@media (min-width: 1024px) {
  .contact-footer {
    padding: 2.5rem 7.5rem 5rem;
  }
}
@media (min-width: 768px) {
  .contact-footer .footer-wrapper {
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .contact-footer .footer-wrapper {
    max-width: 1600px;
  }
}
.contact-footer h2 {
  font-family: "calluna", serif;
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 0 0 0.25rem;
}
@media (min-width: 768px) {
  .contact-footer h2 {
    font-size: 3.85rem;
    line-height: 4.75rem;
  }
}
@media (min-width: 1024px) {
  .contact-footer h2 {
    font-size: 4rem;
    line-height: 5rem;
    margin: 0 0 0.25rem;
  }
}
.contact-footer p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
}
@media (min-width: 768px) {
  .contact-footer p {
    font-size: 1.3rem;
  }
}
@media (min-width: 1024px) {
  .contact-footer p {
    font-size: 1.45rem;
    line-height: 1.75rem;
    margin: 0;
    max-width: 53rem;
  }
}
.contact-footer a {
  color: #bbe3c9;
  text-decoration: none;
}
.contact-footer a:hover {
  color: #485da1;
}
.contact-footer .email-punctuation {
  font-size: 0.95rem;
}

.pretty-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  max-width: 860px;
}
.pretty-grid li {
  flex: 1 1 860px;
  padding: 0 0.25rem;
  margin-bottom: 0.25rem;
}
@media (min-width: 1024px) {
  .pretty-grid li {
    max-width: 860px;
    margin: 0 auto 0.25rem;
    flex: 1 1 250px;
  }
}
.pretty-grid li a img {
  width: 100%;
}

.lightbox-img {
  display: none;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background-color: rgba(14, 31, 27, 0.8);
}
@media (min-width: 1024px) {
  .lightbox-img:target {
    outline: none;
    display: block;
  }
}
.lightbox-img img {
  max-width: 860px;
  max-height: 600px;
  margin-top: 10%;
}

/*# sourceMappingURL=njpp.css.map */
