---
layout: src/templates/layouts/default.hbs
---

<header class="case-header">
  <div class="hero-img">
    <img src="{{hero-src}}" alt="{{hero-alt}}"/>
  </div>
  <nav class="toc-menu">

  </nav>
</header>
{{> body }}
