.wrapper-index{
  padding: ($baseline * 20) 0 ($baseline * 5);
  width:100%;
  @include breakpoint($tablet){
    padding: ($baseline * 30) ($baseline * 10) ($baseline * 10);
  }
  @include breakpoint($sm-laptop){
    padding: ($baseline * 34) ($baseline * 34) ($baseline * 24);
  }
}
.home-text-block{

  p{
    font-family: $calluna;
    //font-size: 1.4rem;
    //line-height: $baseline * 7;
    font-size: 5.9vw;
    line-height: 7.8vw;
    width:86vw;
    max-width: 1100px;
    margin:0 auto $baseline * 3;
    padding:0;

    @include breakpoint($tablet){
      font-size: 3.9vw;
      line-height:5.4vw;
      width:78vw;
    }

    @include breakpoint(1235px){
      font-size: 3rem;
      line-height: $baseline * 15;
      max-width: 1000px;
    }
    a{
      //display:inline-block;
      // color:lighten(black, 40%);
      color: $deepgreen;
      text-decoration: none;
      transition: background ease-in-out 0.18s;
      transition: color ease-in-out 0.18s;


    }
    a:hover{
      // border-bottom: $baseline dotted lighten(black, 20%);
      // need to create image to act as dots, bg that repeats on x-axis, pinned to the bottom
      color: $link-hover-color;
    }
  }

  .top-headline{

    a{
      display:inline-block;
    }

  }
  .bottom-text{

  }
}
.small-only{
  display:inline;
  @include breakpoint(376px){
    display:none;
  }
}
