.top-nav{
  display:flex;
  justify-content: space-between;
  background-color: #fff;
  //margin-bottom:$baseline * 3;


  .my-name{
    // color: lighten(black, 30%);
    color: $deepgreen;
    flex: 1;
    padding:$baseline * 3 0 $baseline * 3 $baseline * 3;
    font-size: 1.1rem;
    line-height: $baseline * 7;

    @include breakpoint($tablet){
      font-size: 1.5rem;
      line-height: $baseline * 8;
      padding:$nav-padding;
    }


  }
  .menu-items{
    flex: 1;
    padding:$baseline * 3 0;

    @include breakpoint($tablet){
      flex: 2;
      padding:$nav-padding;
    }

    ul{
      list-style: none;
      margin:0;
      padding: 0 0.6rem 0 0;
      text-align: right;
      min-width: 10rem;
    }

    ul li{
      // color: lighten(black, 30%);
      display:inline-block;
      padding:0 0.25rem;
    }

    ul li a{
      color: $palegreen;
      text-decoration: none;
      font-size:0.85rem;
      line-height: $baseline * 7;

      @include breakpoint($tablet){
        font-size:1rem;
        line-height: $baseline * 8;
      }
    }

    ul li a:hover{
      color: $link-hover-color;
    }
  }
}

.toc-menu{
  background-color: #fff;
  border-top: 1px solid lighten($palegreen, 15%);
  padding: $baseline * 2 0;
  display: flex;
  align-items: baseline;


  .title {
    flex:1;
    max-width: 11.625rem;
    min-width:11.625rem;
    padding: $baseline * 3 0 $baseline * 3 $baseline * 3;
    color: $deepgreen;
    font-size: 1.55rem;
    line-height: $baseline * 8;
    font-family: $calluna;
    font-weight: $calluna-regular;
    margin: 0;

    @include breakpoint($tablet){
      padding:$nav-padding;
      padding-right:0;
    }

    @include breakpoint($sm-laptop){
      flex:1;
    }
  }
  .sub-menu{
    flex:1;
    list-style: none;
    padding: $nav-padding;
    padding-left: 0;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y:hidden;

    @include breakpoint($tablet){
      flex:3;
    }
    @include breakpoint($sm-laptop){
      white-space: normal;
      overflow: visible;
    }

    li{
      display: inline-block;
    }

    li a{
      font-family: $calluna;
      text-decoration: none;
      color: $palegreen;
      font-size: 1.1rem;
      line-height: $baseline * 8;
      padding: 0 0.125rem;
    }
    li a:hover{
      color: $link-hover-color;
    }

  }
}
