.work-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  width:100%;
  margin:0 auto;

  .work-item{
    flex:1 1 30rem;
    max-width: 30rem;
    border: 2px solid $palegreen;
    margin: 0 1rem 1rem 0;
    padding: $baseline * 8 $baseline * 4;

    h2{
      font-family: $calluna;
      font-size: 1.8rem;
      line-height: $baseline * 9;
      margin: 0 0 $baseline * 2 0;
      color: $deepgreen;
      text-align: left;
    }

    p{
      font-family: $calluna-sans;
      color:$palegreen;
    }
    .role{
      font-size: 1rem;
    }

    .desc{
      font-size: 1.2rem;
    }
  }
}
