@import 'normalize.css';
@import '../../../node_modules/breakpoint-sass/stylesheets/breakpoint';


$calluna: "calluna",serif;
$calluna-sans: "calluna-sans", sans-serif;
$baseline: 0.25rem;
$nav-padding: ($baseline * 3) ($baseline * 6);

$calluna-regular: 400;
$calluna-light: 300;
$calluna-semib: 600;


$tablet: 768px;
$sm-laptop: 1024px;
$desktop: 1440px;
$max-width: 1600px;


$cream: #FFF6C9;
$greencream: #C8E8C7;
$lightgreen: #A4DEAB;
$palegreen: #85CC9F;
$deepgreen: #499E8D;
$darkgreen: #0E1F1B;
$darkblue: #111626;

$link-hover-color: lighten($darkblue, 35%);

*{
  box-sizing: border-box;
}

//no top margins evvvvar!!!!
ul, h1, h2, h3 {
  margin:0;

}

a {
  transition: color 0.25s ease-in-out;
}

body{
  font-family: $calluna-sans;
  font-size: 16px;
  padding: 0;
  margin: 0;
  background-color: lighten($greencream, 13%);
  color: lighten($darkblue, 8%);
}
header{
  position: fixed;
  width:100%;
  top:0;
}

@import 'navbar';
@import 'homepage';
@import 'case-study';
@import 'contact-footer';
@import 'image-gallery';
