@import 'normalize.css';
@import '../../../node_modules/breakpoint-sass/stylesheets/breakpoint';


$calluna: "calluna",serif;
$calluna-sans: "calluna-sans", sans-serif;
$baseline: 0.25rem;
$nav-padding: ($baseline * 3) ($baseline * 6);

$calluna-regular: 400;
$calluna-light: 300;
$calluna-semib: 600;
$calluna-bold: 700;
$calluna-black: 900;

$max-width: 1600px;


$cream: #FFF6C9;
$greencream: #C8E8C7;
$lightgreen: #A4DEAB;
$palegreen: #85CC9F;
$deepgreen: #499E8D;
$darkgreen: #0E1F1B;
$darkblue: #111626;

$link-hover-color: lighten($darkblue, 35%);

*{
  box-sizing: border-box;
}

//no top margins evvvvar!!!!
ul, h1, h2, h3 {
  margin:0;

}

a {
  transition: color 0.25s ease-in-out;
}

body{
  font-family: $calluna-sans;
  font-size: 16px;
  padding: 0;
  margin: 0;
  background-color: lighten($greencream, 13%);
  color: lighten($darkblue, 8%);
}
header{
  position: fixed;
  width:100%;
  top:0;
}

.wrapper{
  max-width: $max-width;
  margin: 0 auto;
  padding: ($baseline * 52) ($baseline * 40) ($baseline * 25);

  h1{
    font-family: $calluna-sans;
    font-size: 2.25rem;
    line-height: $baseline * 10;
    font-weight: $calluna-regular;
    margin: 0 auto $baseline * 18;
    text-align: center;
  }

  h2{
    font-family: $calluna-sans;
    font-size: 1.5rem;
    line-height: $baseline * 8;
    font-weight: $calluna-light;
    margin: 0 auto $baseline * 10;
    padding-top: $baseline * 4;
    text-align: center;
  }

  p{
    font-family: $calluna;
    font-size: 1.25rem;
    line-height: $baseline * 7;
    max-width: 43.75rem;
    margin: 0 auto $baseline * 10;
  }
}
.top-nav{
  display:flex;
  justify-content: space-between;
  background-color: #fff;
  //margin-bottom:$baseline * 3;


  .my-name{
    // color: lighten(black, 30%);
    color: $deepgreen;
    flex: 1;
    padding:$baseline * 3 0 $baseline * 3 $baseline * 3;
    font-size: 1.1rem;
    line-height: $baseline * 7;
    @include breakpoint(767px){
      font-size: 1.5rem;
      line-height: $baseline * 8;
      padding:$nav-padding;
    }


  }
  .menu-items{
    flex: 1;
    padding:$baseline * 3 0;
    @include breakpoint(767px){
      flex: 2;
      padding:$nav-padding;
    }

    ul{
      list-style: none;
      margin:0;
      padding: 0 0.6rem 0 0;
      text-align: right;
    }

    ul li{
      // color: lighten(black, 30%);
      color: $palegreen;
      display:inline-block;
      padding:0 0.25rem;
      font-size:0.85rem;
      line-height: $baseline * 7;
      @include breakpoint(767px){
        font-size:1rem;
        line-height: $baseline * 8;
      }

    }
  }
}

.home-text-block{
  padding: $baseline * 4;
  p{
    font-family: $calluna;
    //font-size: 1.35rem;
    //line-height: $baseline * 7;
    font-size: 5.9vw;
    line-height: 7.75vw;
    width:85vw;
    max-width: 1100px;
    margin:0 auto $baseline * 3;
    padding:0;

    @include breakpoint(767px){
      font-size: 4.1vw;
      line-height:5.4vw;
      width:77vw;
    }

    @include breakpoint(1235px){
      font-size: 3rem;
      line-height: $baseline * 15;
      max-width: 1000px;
    }
    a{
      //display:inline-block;
      // color:lighten(black, 40%);
      color: $deepgreen;
      text-decoration: none;
      transition: background ease-in-out 0.18s;
      transition: color ease-in-out 0.18s;


    }
    a:hover{
      // border-bottom: $baseline dotted lighten(black, 20%);
      // need to create image to act as dots, bg that repeats on x-axis, pinned to the bottom
      color: $link-hover-color;
    }
  }

  .top-headline{

    a{
      display:inline-block;
    }

  }
  .bottom-text{

  }
}
.small-only{
  display:inline;
  @include breakpoint(376px){
    display:none;
  }
}


.toc-menu{
  background-color: #fff;
  border-top: 1px solid lighten($palegreen, 15%);
  padding: $baseline*2 0;
  ul{
    list-style: none;
    padding:0;

    li{
      display: inline-block;
    }

    li span{
      padding: $baseline * 3 0 $baseline * 3 $baseline * 3;
      color: $deepgreen;
      font-size: 1.55rem;
      line-height: $baseline * 8;
      font-family: $calluna;
      font-weight: $calluna-regular;

      @include breakpoint(767px){
        // font-size: 1.5rem;
        // line-height: $baseline * 8;
        padding:$nav-padding;
        padding-right:0;
      }
    }
    li a{
      font-family: $calluna;
      text-decoration: none;
      color: $palegreen;
      font-size: 1.1rem;
      line-height: $baseline * 8;
      padding: 0 0.125rem;
    }
    li a:hover{
      color: $link-hover-color;
    }

  }
}

.image-block{
  max-width: 53.75rem;
  width:80%;
  margin: 0 auto $baseline * 14;

  img{
    display: block;
    width:100%;
    margin-bottom: $baseline * 2;
  }

  figcaption{
    font-size: 0.95rem;
    color:$palegreen;

  }
}

.pretty-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;



  li {
    max-width: 12.5rem;
    flex: 1 1 12.5rem;
    padding: 0 $baseline;
    margin-bottom: $baseline;

    a {

    }

    a img {
      width:100%;
    }
  }
}
.contact-footer{
  background-color: $deepgreen;
  padding: ($baseline * 10) ($baseline * 30) ($baseline * 20);

  .footer-wrapper{
    max-width: $max-width;
    margin: 0 auto;
  }

  h2 {
    font-family: $calluna;
    font-size: 4rem;
    line-height: $baseline * 20;
    margin: 0 0 $baseline;
  }

  p {
    font-size: 1.45rem;
    line-height: $baseline * 7;
    margin:0;
    max-width:53rem;
  }

  a {
    color: lighten($palegreen, 15%);
    text-decoration: none;

    &:hover{
      color: $link-hover-color;
    }
  }
  .email-punctuation{
    font-size: 0.95rem;

  }
}
